body {
    overflow: hidden;

    #application {
        opacity: 0;
        display: none;
    }

    #preloading {
        opacity: 1;
        display: flex;
    }

    &.loaded {
        overflow: auto;
        animation: 500ms delayOverflow;

        #application {
            display: flex;
            overflow: hidden;
            animation-name: fadeIn;
            animation-duration: 300ms;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: 300ms;
        }

        #preloading {
            animation-name: fadeOut;
            animation-duration: 300ms;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes delayOverflow {
    from {
        overflow: hidden;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.oag-loading {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        width: 100%;
        max-width: 300px;
        padding: 20px;

        path {
            stroke-dasharray: 750;
            stroke-dashoffset: 750;
            animation: dash 2s linear forwards;
            fill: none;
            stroke: #000;
            stroke-width: 4px;
        }
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }

    h1,
    h3 {
        font-size: 1.5em;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: "Jost", Helvetica, sans-serif;
        margin-top: 1em;
        text-align: center;
        color: #000;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 1px;
        color: #777;
    }
}
