html,
body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;

    &html {
        overflow: auto;
    }
}

ul {
    margin-block-start: 0.2em;
    margin-block-end: 2em;
    line-height: 1.5;
}

oag-imprint {
    border-top: 1px solid #f1f1f1;
    padding-top: var(--default-layout-padding);
}

// Menu - Open Audio Guide
oag-menu:not(.scrolled) .open-cockpit {
    --menu-item-background-color: #fff;
    --menu-item-background-color-hover: #eee;
    --menu-item-background-color-active: #ddd;
    --menu-item-text-color: #333;
    --menu-item-text-color-hover: #111;
    --menu-item-text-color-active: #000;
}

// Audio Guide
#audio-guide-sheet {
    button {
        justify-self: center;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        height: 100%;

        .item {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            position: relative;

            .number {
                background-color: var(--oag-colors-contrast);
                color: var(--oag-colors-on-contrast);
                font-size: 1.35rem;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -20px;
                top: -20px;
                z-index: 1;
                font-weight: bold;
            }

            oag-audio {
                flex: 1;
                --padding: 40px 40px 40px 60px;
            }
        }
    }
}
