html,
body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;

    &html {
        overflow: auto;
    }
}

ul {
    margin-block-start: 0.2em;
    margin-block-end: 2em;
    line-height: 1.5;
}

oag-imprint {
    border-top: 1px solid #f1f1f1;
    padding-top: var(--default-layout-padding);
}

// Menu - Open Audio Guide
oag-menu:not(.scrolled) .open-cockpit {
    --menu-item-background-color: #fff;
    --menu-item-background-color-hover: #eee;
    --menu-item-background-color-active: #ddd;
    --menu-item-text-color: #333;
    --menu-item-text-color-hover: #111;
    --menu-item-text-color-active: #000;
}

// Audio Guide
oag-cockpit {
}
